{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    This project is an amalgamation of all the Object-Oriented Programming skills I learned in IS601! In this project, the user is able to
    log in, maintain a profile, upload a CSV file of their bank transactions, and then have it displayed on the dashboard.
    In addition to the skills and tools picked up from earlier projects such as Git, Docker, HTML, CSS, and Python, we
    take it a step further in this project and incorporate databases.
    <br><br>
     <div class = "col col-3">

        <img src="{{ url_for('static', filename='images/Online-Banking.png') }}" width = "1300" height = "auto" class="img"
                             alt="...">
            </div>
{% endblock %}
</article>

