{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Your online bank transactions in one place!</h1>
            <br>
            To begin, please register or log in if you already have an account.
            <br><br>

             <div class="col col-3">

                    <img src="{{ url_for('static', filename='images/Home-Banking.png') }}" width="1100" height="auto"
                         class="img"
                         alt="...">
                </div>


        </article>

    </div>
{% endblock %}
</article>
