{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-12">
            <br>
    <div class="container">
        <h1>Welcome</h1>
                Welcome to Panch's Online Banking Database Application!
                <br><br>

                <div class="col col-3">

                    <img src="{{ url_for('static', filename='images/Welcome-Banking.png') }}" width="1300" height="auto"
                         class="img"
                         alt="...">
                </div>

            </div>
        </article>
    </div>
{% endblock %}
</article>